/* CUSTOM STORY STYLE */

.tooltip
    position absolute
    max-width 400px
    // height 200px
    background-color: white
    pointer-events: none
    z-index: 10

    &__meta
        font-size 16px    
        padding-left 1rem
        padding-right 1rem

    &__hed
        font-size 24px
        text-transform: capitalize
        padding-left 1rem
        padding-right 1rem

    &__other-verbs
        font-size 12px
        padding-left 1rem
        padding-right 1rem
        color gray
    
    &__progress-bar-background
        width 100%
        height 0.5rem
        background-color: gray
    
    &__progress-bar-foreground
        width 0%
        height 100%
        background linear-gradient(180deg, rgba(175, 40, 150, 0.98) 0%, rgba(255, 90, 129, 0.98) 100%)
        // background linear-gradient(toright, 180deg, #34A29E 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(toright, 180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FF533D;        
        // background linear-gradient(to right, #34A29E, #FF533D)

    
.watermark
    padding-top 1rem
    text-align: center
    width 30%
    margin 0 auto

.main-page
    background #282828
    height 100% 
    display: flex
    flex-direction: row

    &__sidebar        
        height 100%
        width  5rem
        position fixed
        z-index: 1
        top 0
        left 0
        display flex
        flex-direction: column
        justify-content: space-evenly
    
    &__content
        margin-left: 5rem

.button
    text-align: center
    max-width: 30%

.mono
    font-family 'Menlo','Consolas','Monaco','Courier New',monospace

.verb-container
    padding-top: 2rem
    position relative

.verb-name
    color #FF5A81
    text-transform: uppercase

.additional-verbs
    font-weight 600

.noun
    color white
    font-size: 14px
    cursor pointer
    display: inline-block

.noun-selected        
    text-decoration: underline;

.hidden
    display none

.article-container
    border-bottom 1px dashed black
    cursor pointer 

.article-hed    
    text-transform: capitalize
    font-size: 24px
    font-weight: 600
    font-family: 'Share Tech Mono', monospace;

.article-snippet
    font-family: $national 

.click-more
    font-size 12px
    font-color black
    background-color gray


